@media screen and (min-width: 250px) {
    .software {
        display: none;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        button {
            font-size: inherit;
            margin: 1rem;
            padding: 0.5rem 0.5rem;
            max-width: 8rem;
            background-color: $bg-color;
            border: 1px $text-color solid;
            color: $text-color;
        }
    }

    .hidden {
        display: none;
    }
}
